$primary-color: #2f9e41;
$primary-color-hovered: #228b34;
$secondary-color: #2266d2;
$tertiary-color: #c4e9cc;
$background-color: #e1f4e5;
$light-texts: #ffffff;

//Gray scale
$soft-black-1: #212529;
$soft-black-2: #2c3136;
