//@tailwind base;
//@tailwind components;
@tailwind utilities;

$primary-color: #2F9E41;
$primary-color-hovered: #228B34;
$secondary-color: #2266D2;
$tertiary-color: #F8F9FA;
$background-color: #C4DBC8;


//Gray scale
$soft-black-1: #212529;
$soft-black-2: #2C3136;