//@tailwind base;
//@tailwind components;
@tailwind utilities;

@import url('sweetalert2/src/sweetalert2.scss');

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-default: Quantico;

*{
  font-family: $font-default;
}
button{
  color: $light-texts;
  font-size: 1rem;
}
body,
html{
  background-color: $background-color;
  width: 100vw;
  height:100vh;
  font-size: 1rem;
  color: $soft-black-1;
}
.content-title{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  font-size: 1.5em;
}
input,
textarea{
  font-size: 1rem;
}
label{
  color: $soft-black-2;
}
legend{
  font-size: 1.1rem;
  font-weight: bold;
}
.content-container{
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
}
.content-container-list{
  @extend .content-container;
  gap:0.5rem;
}